{% extends "base.html"%}
{% load static%}
{% block body%} 
 <link rel = "stylesheet" href = "{% static "css/login.css" %}">
 <link rel = "stylesheet" href = "{% static "css/login_util.css" %}">
<section class="categories-area section-padding">
  <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Password Confirm
            <br>
            <a href = {% url "index" %}><img  width = "500px" src ="{% static "img/logo/logo.png" %}"></a>
					</span>
				</div>

				<form class="login100-form validate-form" method="POST">
					{% csrf_token %}
                  
					<div class="wrap-input100 validate-input m-b-26" data-validate="Password is required">
						<span class="label-input100">Enter New Password</span>
						<input class="input100" type="text" name="new_password" required placeholder="Enter New Password">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-26" data-validate="Passowrd is required">
						<span class="label-input100">Confirm Your Password </span>
						<input class="input100" type="text" name="confirm_password" required placeholder="Confirm Your Password">
						<span class="focus-input100"></span>
					</div>


					
          <div class="container-login100-form-btn-group">
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Submit
						</button>
					</div>
          
        </div>
        <br>
        	
      </form>
			</div>
		</div>
	</div>
  </section>
{% endblock body%}