{% load static %}

<aside class="single_sidebar_widget post_category_widget">
    <h4 class="widget_title" style="color: #2d2d2d">Services Provided by {{photographer.user.get_full_name}}</h4>
    <div class="accordion" id="accordionExample">
        
        {% for service in services %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#service{{service.id}}" aria-expanded="true" aria-controls="collapseOne">
                {{service.name}}
              </button>
            </h2>
            <div id="service{{service.id}}" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{service.description  }}
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
  </aside>