{% load static%}
<div class="comments-area">
    <h4>{{reviews.count}} Comments</h4>
   {% for review in reviews %}
   <div class="comment-list">
    <div class="single-comment justify-content-between d-flex">
      <div class="user justify-content-between d-flex">
        <div class="thumb">
          <img src="{{review.customer.profile_pic.url}}" alt />
        </div>
        <div class="desc">
          <p class="comment">
           {{review.message}}
          </p>
          {{review.get_rating_html | safe}}
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <h5>
                <a href="#">{{review.customer.get_full_name}}</a>
              </h5>
              <p class="date">{{review.created_at}}</p>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
   {% endfor %}
    
   
  </div>
