<aside class="single_sidebar_widget popular_post_widget">
    <h3 class="widget_title" style="color: #2d2d2d">
        Equipments Available with {{photographer.user.get_full_name}}
    </h3>
    <div class="input-group-append d-flex">
        <button type="button" class="btn btn-success px-2" data-toggle="modal" data-target="#addEquipment"
            style="font-size: 1rem; padding: 1.2rem">
            <i class="fa fa-plus"></i> Equipment
        </button>

    </div>
    <br>
    {% for equipment in equipments %}

    <div class="row">
        <div class="col-md-10">
            <div class="media post_item">
                <img src="{{equipment.photo.url}}" alt="{{equipment.name}}" width="100" height="100" />
                <div class="media-body">
                    <a href="#">
                        <h3 style="color: #2d2d2d">{{equipment.name}}</h3>
                    </a>
                    <p>
                        {{equipment.description}}
                    </p>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-2">
            {% include "photographer-update-util/equipment-update.html" %}
            <br>
            {% include "photographer-update-util/equipment-delete.html" %}
        </div>
    </div>

    {% endfor %}

    <div class="modal fade" id="addEquipment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Equipment for {{photographer.user.get_full_name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input name="photographer" value="{{photographer.id}}" type="hidden">
                                    <input class="form-control w-100" name="name" id="equipment.name" type="text"
                                        placeholder="Enter your Equipments for photography" required><br>
                                    <input class="form-control w-100" name="photo" id="photo" type="file" accept="equipment/" 
                                        placeholder="Enter Respective Equipment image" required><br>
                                    <textarea class="form-control w-100" name="description" id="description" cols="30"
                                        rows="9" placeholder="Enter description for Respective Equipment"
                                        required></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" name="equipment_add">Add
                                Equipment</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</aside>