 <!-- Button trigger modal for service delete -->
 <button type="button"class ="btn"  data-toggle="modal" data-target="#updateService{{service.id}}" style="font-size: 1rem; padding: 0.25rem 0.5rem;">
    <i class="fa fa-edit text-white px-1" >Edit</i> 
</button>

<!-- Modal -->
<div class="modal fade" id="updateService{{service.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update {{service.name}} ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>

        <div class="modal-body">
            <form method="POST" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                <div class="form-group">
                    <input name="photographer" value="{{photographer.id}}" type="hidden">
                    <input name="service" value="{{service.id}}" type="hidden">
                        <input
                            class="form-control w-100"
                            name="name"
                            id="service.name"
                            type="text"
                            placeholder="Enter service name"
                            required
                            value="{{service.name}}"
                        ><br>
                        <input
                        class="form-control w-100"
                        name="price"
                        id="price"
                        type="text"
                        placeholder="Enter service price"
                        required
                        value="{{service.price}}"
                    ><br>
                    <input
                    class="form-control w-100"
                    name="duration"
                    id="duration"
                    type="text"
                    placeholder="Enter duration in Days"
                    required
                    value="{{service.duration}}"
                ><br>
                <textarea
            class="form-control w-100"
            name="description"
            id="description"
            cols="30"
            rows="9"
            placeholder="Enter your service description"
            required
                >{{service.description}}</textarea>
                        </div>
                    </div>
                </div>
            </div>

        
       
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
            <button type="submit" class="btn btn-danger" name="update_service">Update </button>
        </form>
        </div>
    </div>
    </div>
</div>