body {
    background: rgb(254, 254, 254)
}

.form-control:focus {
    box-shadow: none;
    border-color: #007aff
}

.profile-button {
    background: #007aff;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #007aff
}

.profile-button:focus {
    background: #007aff;
    box-shadow: none
}

.profile-button:active {
    background: #007aff;
    box-shadow: none
}

.back:hover {
    color: #007aff;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #007aff;
    color: #fff;
    cursor: pointer;
    border: solid 1px #007aff
}