{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{%block title%} | Drishya Nepal {%endblock title%} </title>
<meta name="description" content>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/icon/favicon.png' %}">

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/slick.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'css/nice-select.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'img/icon/preloader.png' %}" alt="loder">
                </div>
            </div>
        </div>
    </div>
<header>
<div class="header-area header-transparent">
<div class="main-header ">
<div class="header-bottom  header-sticky">
<div class="container">
<div class="d-flex align-items-center justify-content-between flex-wrap position-relative">

<div class="left-side d-flex align-items-center">
<div class="logo">
<a href="{% url 'index' %}"><img height="75" width="275" src="{% static 'img/logo/logo.png' %}" alt></a>
</div>

<div class="main-menu d-none d-lg-block">
<nav>
<ul id="navigation">
<li><a href="{% url 'index' %}">Home</a></li>
<li><a href="{% url 'about' %}">About</a></li>
<li><a href="{% url 'photographers' %}">Photographers</a></li>


</ul>
</nav>
</div>
</div>
<div class="header-right-btn f-right  ml-15">
    <a href="{% url "login" %}" class="btn_1 header-btn">Login <img src="{% static 'img/icon/right-a.svg' %}" alt></a>
    </div>
<div class="header-right-btn f-right  ml-15">
<a href="{% url "register-photographer" %}" class="btn_1 header-btn">Join as professional <img src="{% static 'img/icon/right-a.svg' %}" alt></a>
</div>

<div class="col-12">
<div class="mobile_menu d-block d-lg-none"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</header>

{%block body%} {% endblock body%}

<footer>
    <div class="footer-wrapper ">
    <div class="footer-area footer-padding">
    <div class="container">
    <div class="row justify-content-between">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
    <div class="single-footer-caption mb-50">
    
    <div class="footer-logo mb-35">
    <a href="index.html"><img src="{% static 'img/logo/logo2_footer.png' %}" alt></a>
    </div>
    <p>We collect reviews from our users so you can get an honest opinion of what an experience with our website.</p>
    <a href="#" class="btn_001 mt-20">Post a Job</a>
    </div>
    </div>
    <div class="offset-xl-1 col-xl-2 col-lg-2 col-md-4 col-sm-6">
    <div class="single-footer-caption mb-50">
    <div class="footer-tittle">
    <h4>Quick Links</h4>
    <ul>
    <li><a href="#">Work</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Tips & Tricks</a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
    <div class="single-footer-caption mb-50">
    <div class="footer-tittle">
    <h4>For Employers</h4>
    <ul>
    <li><a href="#">Air freight</a></li>
    <li><a href="#">Ocean freight</a></li>
    <li><a href="#">Large projects</a></li>
    <li><a href="#">Job Packages</a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
    <div class="single-footer-caption mb-50">
    <div class="footer-tittle">
    <h4>For Candidates</h4>
    <ul>
    <li><a href="#">Browse Jobs</a></li>
    <li><a href="#">Ocean freight</a></li>
    <li><a href="#">Candidate Dashboard</a></li>
    <li><a href="#">Large projects</a></li>
    <li><a href="#">Job Alerts</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="footer-bottom-area">
    <div class="container">
    <div class="footer-border">
    <div class="row">
    <div class="col-xl-12 ">
    <div class="footer-copy-right d-flex justify-content-between flex-wrap">
    <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" rel="nofollow noopener">Colorlib</a></p>
    
    <div class="footer-social">
    <a href="https://www.fb.com/sai4ull"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer>
    
    <div id="back-top">
    <a title="Go to Top" href="#"><i class="fas fa-long-arrow-alt-up"></i></a>
    </div>
    
    
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    {% comment %} <script src="{% static 'js/jquery.nice-select.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    
    
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
   </body>
   </html>