{% extends "base.html"%} {% load static %} {% block title%} Home {%endblock title%} {% block body%}
<main>
  <div class="slider-area">
    <div class="slider-active">
      <div
        class="single-slider slider-height slider-bg1 d-flex align-items-center"
      >
        <div class="container position-relative">
          <div class="row">
            <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-10">
              <div class="hero__caption">
                <h1>
                  Searching for Good Photographer? Find the
                  <span>Best Photographer</span>
                </h1>
              </div>

              <form action="#" class="search-box">
                <div class="input-form">
                  <input type="text" placeholder="Job Tittle or keyword" />
                  <img src="{% static 'img/icon/pen.svg' %}" alt />
                </div>
                <div class="select-form">
                  <div class="select-itms">
                    <select name="select" id="select1">
                      {% for photographer in photographers%}
                      <option value>{{photographer.address}}</option>
                      {%endfor%}
                    </select>
                    <img src="{% static 'img/icon/flag.svg' %}" alt />
                  </div>
                </div>
                <div class="search-form">
                  <a href="#">Search Job</a>
                </div>
              </form>
            </div>
            <div class="col-xl-6 col-lg-5">
              <div
                class="hero-man d-none d-lg-block f-right"
                data-animation="bounceIn"
                data-delay=".4s"
                style="animation-delay: 0.4s"
              >
                <img height = "800px" width = "500px" src="{% static 'img/hero/hero-man.png' %}" alt />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  {% include "photographers-section.html" %}

  <section class="wantToWork-area">
    <div class="container">
      <div class="wants-wrapper w-padding">
        <div class="row align-items-center justify-content-between">
          <div class="col-xl-8 col-lg-9 col-md-8">
            <div class="wantToWork-caption">
              <h2>Do you want to be a Vendor? </h2>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4">
            <a href="{% url "photographers" %}" class="btn_02 w-btn wantToWork-btn f-right">Join as Professional</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include "about-util/about-section.html" %}

  {% comment %} {% include "about-extended.html" %} {% endcomment %}

  </main>
{%endblock body%}
