{% extends "base.html"%} {% load static %} {% block title%} Home {%endblock title%} {% block body%}
<main>
  <div class="slider-area">
    <div class="slider-active">
      <div
        class="single-slider slider-height slider-bg1 d-flex align-items-center"
      >
        <div class="container position-relative">
          <div class="row">
            <div style="width: 70%">
              <div class="hero__caption">
                <h1>
                  Searching for Good Photographer? Find the
                  <span>Best Photographer</span>
                </h1>
              </div>

              <div class="container">
                <div class="row mt-120 justify-content-center">
                    <div class="col-lg-10">
                      <form action="#" class="search-box">
                        <div class="input-form">
                          <input type="text" name="search" placeholder="Enter Photographer Name or Address" value="{% if search_text %} {{search_text}} {% endif %}" />
                          <img src="{% static 'img/icon/pen.svg' %}" alt />
                        </div>  
                        <div class="select-form">
                          <div class="select-itms">
                            <select name="select" id="select1" >
                              
                              <option value="" >Enter location</option> <!-- Default option -->
                                            {% for address in addresses %}
                                            <option value="{{address}}" {% if request.GET.select == address %}selected{% endif %}>{{address}}</option>
                                            {% endfor %}
                            </select>
                            {% comment %} <i class="fa  fa-globe"></i> {% endcomment %}
                          </div>
                        </div>
                        <div class="search-form">
                          <button class="btn btn-primary mt-3" type="submit" href="#">Search</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div> 
            <div class="col-xl-12">
              <div
                class="hero-man d-none d-lg-block f-right"
                data-animation="bounceIn"
                data-delay=".4s"
                style="animation-delay: 0.4s"
              >
                <img src="{% static 'img/hero/hero-man.png' %}" style="width:550px; margin-right: 100%, margin-top: 60;" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  {% include "photographers-section.html" %}
  <div class="container mb-3">
    <div class="row">
      <div class="col-xl-12">
        <div class="find-more text-center mt-30">
          <a href="{% url "photographers" %}" class="btn btn-primary">Find More <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>  
  {% if user.photographer %}
  <a href = "{% url "index" %}"></a>
  {% else %}
  <section class="wantToWork-area">
    <div class="container">
      <div class="wants-wrapper w-padding">
        <div class="row align-items-center justify-content-between">
          <div class="col-xl-8 col-lg-9 col-md-8">
            <div class="wantToWork-caption">
              <h2>Do you want to be a Vendor? </h2>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4">
            <a href="{% url "register-photographer" %}" class="btn_02 w-btn wantToWork-btn f-right">Join as Professional</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endif %}

  {% include "about-util/about-section.html" %}

  {% comment %} {% include "about-extended.html" %} {% endcomment %}
  {% include "about-util/testimonial.html"%}   
  </main>
{%endblock body%}
