
{% extends "base.html" %}
{% load static %}

{% block body %}

<main>
    <div class="slider-area">
      <div class="slider-height2 slider-bg2 d-flex align-items-end">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="hero__caption hero__caption2">
                <h2>{{photographer.name}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <section class="blog_area single-post-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 posts-list">
            <div class="single-post">
              <div class="feature-img">
                <img
                  class="img-fluid"
                  src="{{photographer.image.url}}"
                  alt
                />
              </div>
            
            </div>
         
           
            {% include "photographer-details-util/photographer-comment.html"%}

            {%include "photographer-details-util/photographer-hire.html"%}

            {%include "photographer-details-util/photographer-service-for-customer.html"%}

            {%include "photographer-details-util/photographer-tags.html"%}

            {%include "photographer-details-util/photographer-photos.html"%}
          
              
              
              
             
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  
<script>
$(document).ready(
  function() {
    
  }
)
</script>

{% endblock body %}