{% load static %}
<link ref="stylesheet" href="{% static 'css/photographer-section.css' %}">
<section class="categories-area py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-11">
          <div class="section-tittle text-center mb-35">
            <h2>Photographers in your nearest area</h2>
            <span>Browse photographers in your local city.</span>
          </div>
        </div>
      </div>
      
    </div>
    <div class="container">
        <div class="row">
            {% for photographer in photographers %}
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-cat mb-30">
              <div class="cat-cap" >

                {% for tag in photographer.tags.all|slice:":3" %}
                <span class="colors1"> {{tag}} </span>
                {% endfor %}
                
                <h5>
                  <a href="{% url "photographer-detail" photographer.id %}"
                    style="color: #007AFF;">{{photographer.user.get_full_name}}</a
                  >
                </h5>
                <div class="photographer-status {{ photographer.status|lower }}">{{ photographer.status }}</div>
                
                <ul>  
                  <li>
                    <p><i class="fas fa-map-marker-alt"></i>{{photographer.user.address}}</p>
                  </li>
                  <li>
                    <p><i class="fas fa-briefcase"></i>{{photographer.experience}} years</p>
                  </li>

                </ul>
                <div
                  class="pricing d-flex justify-content-between align-items-center"
                >
                  <div class="left">
                    <img
                      src="{{photographer.user.profile_pic.url}}"
                      alt
                      height="70" width="70"
                    />
                    <p>
                        {% if photographer.is_videographer %}
                      Videographer 
                        {% else %}
                    Photographer 
                        {% endif %}
                    </p>
                    
                  </div>
                  <span class="time">{{photographer.get_avg_rating_html | safe }} </span>
                </div>
              </div>
            </div>
          </div>
        
        {% endfor %}
        </div>
    </div>


    <div class="container">
      <h1 class="text-primary text-center"> Recommended Photographers</h1>
      <div class="row">
          {% for photographer in photographers %}
      <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-cat mb-30">
            <div class="cat-cap">

              {% for tag in photographer.tags.all|slice:":3" %}
              <span class="colors1"> {{tag}} </span>
              {% endfor %}
              <h5>
                <a href="{% url "photographer-detail" photographer.id %}"
                  style="color: #007AFF;">{{photographer.user.get_full_name}}</a
                >
              </h5>
              <ul>  
                <li>
                  <p><i class="fas fa-map-marker-alt"></i>{{photographer.user.address}}</p>
                </li>
                <li>
                  <p><i class="fas fa-briefcase"></i>{{photographer.experience}} years</p>
                </li>
              </ul>
              <div
                class="pricing d-flex justify-content-between align-items-center"
              >
                <div class="left">
                  <img
                    src="{{photographer.user.profile_pic.url}}"
                    alt
                    height="70" width="70"
                  />
                  <p>
                      {% if photographer.is_videographer %}
                    Videographer 
                      {% else %}
                  Photographer 
                      {% endif %}
                  </p>
                </div>
                <span class="time">{{photographer.get_avg_rating_html | safe }} </span>
              </div>
            </div>
          </div>
        </div>
      
      {% endfor %}
      </div>
  </div>

  </section>