{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="container">
<div class="row mt-120 justify-content-center">
    <div class="col-lg-10">
      <form action="#" class="search-box">
        <div class="input-form">
          <input type="text" name="search" placeholder="Enter Photographer Name or Address" value="{% if search_text %} {{search_text}} {% endif %}" />
          <img src="{% static 'img/icon/pen.svg' %}" alt />
        </div>  
        <div class="select-form">
          <div class="select-itms">
            <select name="select" id="select1"  >
              
              <option value="" >Enter location</option> <!-- Default option -->
                            {% for address in addresses %}
                            <option value="{{address}}" {% if request.GET.select == address %}selected{% endif %}>{{address}}</option>
                            {% endfor %}
            </select>
            {% comment %} <i class="fa  fa-globe"></i> {% endcomment %}
          </div>
        </div>
        <div class="search-form">
          <button class="btn btn-primary mt-3" type="submit" href="#">Search Photographer</button>
        </div>
      </form>
    </div>
  </div>
</div> 
{% include "photographers-section.html" %}



{% endblock body %}