{% extends "base.html" %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/photographer-detail.css' %}">
<main>
  <div class="slider-area">
    <div class="slider-height2 slider-bg2 d-flex align-items-end">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero__caption hero__caption2">
              <h2>{{photographer.user.get_full_name}}</h2>
             
               
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div> 
  <div class="row">  <div class="-lg-12">
    <div class="row">
      <div class="col-6">
        <section class="blog_area single-post-area section-padding">
          <div class="container">
            <div class="single-post">
              <div class="photographer-status {{ photographer.status|lower }}">{{ photographer.status }}</div>
              <div class="feature-img">
                <img class="img-fluid" src="{{photographer.user.profile_pic.url}}" alt />
              </div>
            </div>
            {% include "photographer-details-util/photographer-comment.html"%}
          </div>
        </section>
      </div>
      <div class="col-lg-6">
        <br>
        {% include "photographer-details-util/photographer-hire.html"%}
        {% include "photographer-details-util/photographer-service-for-customer.html"%} 
        {% include "photographer-details-util/photographer-equipments.html"%} 
        {% include "photographer-details-util/photographer-tags.html"%} 
        {% include "photographer-details-util/photographer-photos.html"%}
      </div>
    </div>
  </div>
</div>
</main>

<script>
  $(document).ready(
    function () {

    }
  )
</script>

{% endblock body %}