{%load static%}

<section class="about-area1 section-bg1 section-padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-9">
        <div class="about-caption about-caption2">
          <div class="section-tittle mb-50">
            <h2>Why we are different</h2>
            <p>
              We collect reviews from our users so you can get an honest opinion
              of what an experience with our website.
            </p>
          </div>

          <div class="about-single mb-30 d-flex">
            <div class="icon">
              <img src="{% static 'img/icon/icon1.svg' %}" alt />
            </div>
            <div class="pera">
              <p>
                Keep your cool. Get on-demand help to on-demand make the best
                offer.
              </p>
            </div>
          </div>

          <div class="about-single mb-30 d-flex">
            <div class="icon">
              <img src="{% static 'img/icon/icon2.svg' %}" alt />
            </div>
            <div class="pera">
              <p>
                Keep your cool. Get on-demand help to on-demand make the best
                offer.
              </p>
            </div>
          </div>

          <div class="about-single mb-30 d-flex">
            <div class="icon">
              <img src="{% static 'img/icon/icon3.svg' %}" alt />
            </div>
            <div class="pera">
              <p>
                Keep your cool. Get on-demand help on-demand to make the best
                offer.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="offset-xl-1 col-xxl-6 col-xl-5 col-lg-6 col-md-10 col-sm-10">
        <div class="about-img">
          <img src="{% static 'img/gallery/about1.png' %}" alt />
        </div>
      </div>
    </div>
  </div>
</section>




